


{#interface {{ interface.name }}
 description {{ interface.description }}
 {% if interface.uplink%}
 switchport mode trunk
 {%else%}
 switchport access vlan {{ interface.vlan }}
 switchport mode access
 {%endif%} 


{%for n in range(10)%}

interface GigabitEthernet0/{{ n+1}}
    description {{ interface.description }}
    {% if n+1 ==1 %}
    switchport mode trunk
    {%else%}
    switchport access vlan {{ interface.vlan }}
    switchport mode access
    {%endif%}
{% endfor %} 

{%for iface in interface_list%}
interface {{iface}}
    {%if iface == "GigabitEthernet0/1"%}
    switchport mode trunk
    {%else%}
    switchport access vlan 10
    switchport mode access
    {%endif%}
{%endfor%} 


{% for name , description in interface.items() %}
interface {{name}}
    description{{description}}
{%endfor%} #}





{%for inface in interface%}
interface {{inface.name}}
    description {{inface.desc|upper|reverse}} {#Using the “upper” Jinja filter#} {#Chaining Jinja filters#}
    speed {{inface.name|get_interface_speed}}
    {%if inface.uplink %}
    switport port trunk
    switchport trunk native vlan 999
    
    {%else%}
    switport vlan {{inface.vlan}}
    switchport mode access
    {%endif%}
    {% block http%}
    no http server
    no ip http server
    {% endblock %}
{%endfor%}






 